@import "tailwindcss";

.testimonials-swiper {
  padding: 20px 0;
}

.testimonials-swiper .swiper-slide {
  height: auto;
}

.swiper-next-button-custom::after,
.swiper-prev-button-custom::after {
  display: none;
}

.swiper-slide-next,
.swiper-slide-prev {
  display: none;
}

.swiper-next-button-custom.swiper-button-disabled,
.swiper-prev-button-custom.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@theme {
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }
}

@layer components {
  .header {
    @apply fixed top-0 left-0 right-0 bg-white border-b border-gray-100 z-50 shadow-sm;
  }

  nav {
    @apply hidden md:flex items-center space-x-10;
  }

  .getInTouchBtn {
    @apply hidden md:block bg-blue-600 hover:bg-blue-800 font-medium duration-400 text-white text-sm px-6 py-2.5 rounded-lg;
  }

  .getInTouchBtn1 {
    @apply block text-center bg-blue-600 hover:bg-blue-800 font-medium duration-400 text-white text-sm px-6 py-2.5 rounded-lg transition-all hover:shadow-lg hover:shadow-blue-100;
  }
}

@utility textAnimation {
  @apply relative text-sm font-medium after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 hover:after:w-full after:bg-blue-600 after:transition-all;
}
